.header__lang-link {
    vertical-align: super;
    text-decoration: none;
    color: var(--white);
}

.header__lang-link:hover {
    opacity: var(--hover-opacity);
    transition: all ease-in-out 0.16s;
}

.header__lang-link:visited {
    color: var(--white);
}

@media screen and (max-width: 1023px) {
    .header__lang-link {
        /* font styles */
        font-size: 18px;
        line-height: 1.11;
    }
}