.lead__image {
    width: 105%;
    margin: 64px -20px 0;
}

@media screen and (max-width: 1279px) {
    .lead__image {
        width: 100%;
        margin: 54px 0px 0;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        margin: 40px 0 0;
    }
}